<h1>Listing video_resources</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @video_resources.each do |video_resource| %>
  <tr>
    <td> <%= video_resource.location %> </td>
    <td><%= link_to 'Show', video_resource %></td>
    <td><%= link_to 'Edit', edit_video_resource_path(video_resource) %></td>
    <td><%= link_to 'Destroy', video_resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video resource', new_admin_video_resource_path %>
